.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }


.footer {
  background-color: #01232F;
  margin: 0px auto;
  background-image: linear-gradient(rgb(8, 72, 95), rgb(3, 47, 63),#01232F);
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #1E90FF;
  background: linear-gradient(rgb(30,144,255,1),rgb(30,144,255,0.90),rgb(30,144,255,0));
  min-height: 450px;
  color: floralwhite;}

  .foot{
    color: #eeeeee;
  }
  

  .logo{
    padding-right: 4px;
    padding-left: 4px;
     background-color:antiquewhite; 
     border-radius: 25px;
  }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 0px 0px 0px 0px;
  background-color: #eeeeee;
  z-index: 0; }

.navbar-dark {
  background-color: #01232F; 
  
  opacity: 0.85;}

.tab-content {
  border-left: 1px solid #ddd;
  background: linear-gradient(to right, rgb(243, 188, 87,1), rgba(255,0,0,0));
  border-bottom: 1px solid #ddd;
  padding: 25px; 
}

  .fa-list{
    color: #ddd;
  }

.carousel {
  background: #6893a9; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      max-height: 400px; }

#carouselButton {
  right: 0px;
  bottom: 0px; 
  position: absolute; }
